.card {
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}
.img {
    width: 100%;
}
.info {
    margin: 25px 0 30px;
}
.title {
    /* text-align: center; */
    font-family: "Cardo";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #1b3764;
    text-decoration: none;
}
.price {
    font-family: "Cardo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1b3764;
    padding: 15px 0 15px;
}
.date {
    font-family: "Cardo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1b3764;
}
.location {
    font-family: "Cardo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1b3764;
    padding: 15px 0 15px;
}
.btn {
    font-family: "Cardo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    background: #FFCA42;
    color: #F6F8FC;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    margin: auto;
}
.card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card-list .img {
    width: 20%;
}
