.wrapper {
    background-color: #ffffff;
    padding: 91px 0 169px;
}
.container {
    width: 90%;
    margin: auto;
    align-items: center;
}
.title {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    margin-bottom: 150px;
}
.descr {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-left: 950px;
    text-decoration-line: underline;
}